.wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
}

.imageContainer {
  width: 100%;
  /* position: unset !important; */
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.aboutBannerImage {
  height: 400px !important;
  object-fit: cover;
}

.hideScroll::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

.hideScroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
}
